body {
    margin: 0;
    font-family: "Inter", sans-serif;
    text-align: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #6943FF;
    padding-bottom: 35px;
}


h1 {
    font-size: 28px;
    margin-top: 37px;
    font-weight: bolder;
    color: #FFFFFF;
}

#input-el {
    background: #6943FF;
    border: 1px solid #FFFFFF;
    color: white;
    border-radius: 5px;
    font-size: 58px;
    text-align: center;
    width: 6rem;
    padding: 7px 3px 5px 4px;
    margin-top: 12px;
    margin-bottom: 25px;
}


#button-el {
    background: #FFFFFF;
    border-radius: 5px;
    border: none;
    color: 3D3D3D;
    padding: 10px 25px;
    font-weight: bolder;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F4F4F4;
    padding-top: 10px;
}

.sections {
    background: white;
    margin-bottom: 5px;
    padding: 10px 7px;
    width: 100%;
    margin-top: 25px;
}

h3 {
    font-size: 20;
    color: #5A537B;
    font-weight: bold;
   
}

p {
    font-size: 14px;
}